<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")






    <link rel="stylesheet" href="~/template/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/template/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="~/template/css/style.css">
    <link rel="shortcut icon" href="~/template/images/favicon.png" />

    <script src="~/template/dist/vis.js"></script>
    <link href="~/template/dist/vis-timeline-graph2d.min.css" rel="stylesheet" />




    <script src="~/newchart/highcharts.js"></script>
    <script src="~/newchart/highcharts-3d.js"></script>
    <script src="~/newchart/exporting.js"></script>
    <script src="~/newchart/export-data.js"></script>


    <script src="~/Content/angular.min.js"></script>
    <script src="~/jsController/drivers.controller.js"></script>
    <script src="~/jsController/facebook.controller.js"></script>
    <script src="~/jsController/restaurants.controller.js"></script>
    <script src="~/jsController/deliveryTime.controller.js"></script>
    <script src="~/jsController/user.controller.js"></script>


    <link href="~/Content/bootstrap4/bootstrap.min.css" rel="stylesheet" />
    @*<script src="~/Content/bootstrap4/bootstrap.min.js"></script>*@
    <script src="~/Content/bootstrap4/jquery-3.2.1.slim.min.js"></script>
    <script src="~/Content/bootstrap4/popper.min.js"></script>



</head>



<body>

    <style>
        .vis-item {
            background-color: #d8917ccf !important;
            border-color: #d3907f !important;
        }

        .show {
            padding-right: 48% !important;
        }

        .btn-primary {
            background-color: #e58453;
            border-color: #e58453;
        }

        .btn-primary:hover {
            background-color: #d6662d;
            border-color: #d6662d;
        }
        .card {
            box-shadow: rgba(0, 0, 0, 0.05) 1px 1px 4px;
        }
    </style>

    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="
    border: 0;
    box-shadow: 1px 1px 5px #00000045;
background : #f79462 !important">
        <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center" style="position : absolute">
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas" style="display : block !important">
                <span class="mdi mdi-menu"></span>
            </button>

            <a class="navbar-brand brand-logo">
                <img src="~/template/beeOrder logo/beeorder.png" alt="logo" />
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center" style="padding-left : 127px">
            <img width="1000" src="~/Content/food.svg" />
        </div>
    </nav>

    <div class="container-scroller">

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar" style="box-shadow: 1px 1px 5px #00000045;">
                <ul class="nav">

                    @*<li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Dashboard")">
                            <i class="menu-icon mdi mdi-television"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>*@
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("drivers","Dashboard")">
                            <i class="menu-icon mdi mdi-motorbike"></i>
                            <span class="menu-title">Drivers</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("restaurants","Dashboard")">
                            <i class="menu-icon mdi mdi-food-fork-drink"></i>
                            <span class="menu-title">Restaurants</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("user","Dashboard")">
                            <i class="menu-icon mdi mdi-account-multiple"></i>
                            <span class="menu-title">Users</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Facebook","Dashboard")">
                            <i class="menu-icon mdi mdi-facebook"></i>
                            <span class="menu-title">Facebook</span>
                        </a>
                    </li>
                    @*<li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <i class="menu-icon mdi mdi-content-copy"></i>
                            <span class="menu-title">Basic UI Elements</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="~/template/pages/ui-features/buttons.html">Buttons</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="~/template/pages/ui-features/typography.html">Typography</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/template/pages/forms/basic_elements.html">
                            <i class="menu-icon mdi mdi-backup-restore"></i>
                            <span class="menu-title">Form elements</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/template/pages/charts/chartjs.html">
                            <i class="menu-icon mdi mdi-chart-line"></i>
                            <span class="menu-title">Charts</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/template/pages/tables/basic-table.html">
                            <i class="menu-icon mdi mdi-table"></i>
                            <span class="menu-title">Tables</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/template/pages/icons/font-awesome.html">
                            <i class="menu-icon mdi mdi-sticker"></i>
                            <span class="menu-title">Icons</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                            <i class="menu-icon mdi mdi-restart"></i>
                            <span class="menu-title">User Pages</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="auth">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="~/template/pages/samples/blank-page.html"> Blank Page </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="~/template/pages/samples/login.html"> Login </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="~/template/pages/samples/register.html"> Register </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="~/template/pages/samples/error-404.html"> 404 </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="~/template/pages/samples/error-500.html"> 500 </a>
                                </li>
                            </ul>
                        </div>
                    </li>*@
                </ul>
            </nav>




        </div>
        <!-- page-body-wrapper ends -->
    </div>
    @RenderBody()


    <footer class="footer">
        <div class="container-fluid clearfix">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
                Copyright © 2018
                <a href="#" target="_blank">Bee Order</a>. All rights reserved.
            </span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
                ITE
                <i class="mdi mdi-heart text-danger"></i>
            </span>
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/template/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/template/vendors/js/vendor.bundle.addons.js"></script>
    <script src="~/template/js/off-canvas.js"></script>
    <script src="~/template/js/misc.js"></script>
    <script src="~/template/js/dashboard.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
