<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <link rel="stylesheet" href="~/template/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/template/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/template/vendors/css/vendor.bundle.addons.css">
    <link rel="stylesheet" href="~/template/css/style.css">
    <link rel="shortcut icon" href="~/template/images/favicon.png" />



    <script src="~/newchart/highcharts.js"></script>
    <script src="~/newchart/highcharts-3d.js"></script>
    <script src="~/newchart/exporting.js"></script>
    <script src="~/newchart/export-data.js"></script>


    <script src="~/Content/angular.min.js"></script>
    <script src="~/jsController/drivers.controller.js"></script>

</head>
<body >

    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/template/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/template/vendors/js/vendor.bundle.addons.js"></script>
    <script src="~/template/js/off-canvas.js"></script>
    <script src="~/template/js/misc.js"></script>
    <script src="~/template/js/dashboard.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
